<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="nav-transparent no-border" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class=" item-detail">
  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(' + hotel.thumb + ')'}">
    <div class="inner">
      <div class="align-bottom" padding>
        <h2 ion-text color="white">{{ hotel.name }}</h2>
        <!--<div>
          <ion-icon name="md-star" color="white" *ngFor="let star of range(hotel.rating)"></ion-icon>
          <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - hotel.rating)"></ion-icon>
          <span ion-text color="white">{{ hotel.reviews.length }} reviews</span>
        </div>
        <div>
          <span ion-text color="white">{{ hotel.location.distance }} km</span>
        </div>-->
      </div>
    </div>
  </div>

  <!--buttons-->
  <ion-grid class="buttons border-bottom">
    <ion-row>
      <ion-col><p text-center>{{hotel.description}}</p></ion-col>
      <!--<ion-col text-center>
        <ion-icon name="ios-camera-outline" color="gray"></ion-icon>
        <span ion-text color="gray">POST CARD</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-bookmark-outline" color="gray"></ion-icon>
        <span ion-text color="gray">BOOKMARK</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="md-share" color="gray"></ion-icon>
        <span ion-text color="gray">SHARE</span>
      </ion-col>-->
    </ion-row>
  </ion-grid>

  <!--rating-->
  <!--<div class="border-bottom" text-center padding>
    <span class="bold" color="gray">Rate this place</span>
    <div class="rating-form">
      <ion-icon name="ios-star" color="hotel-color" *ngFor="let star of range(rating); let i = index"
                (click)="rate(i + 1)"></ion-icon>
      <ion-icon name="ios-star-outline" color="hotel-color" *ngFor="let star of range(5 - rating); let i = index"
                (click)="rate(i + rating + 1)"></ion-icon>
    </div>
  </div>-->

  <!--scores-->
  <!--<ion-grid>
    <ion-row>
      <ion-col text-center *ngFor="let score of hotel.scores; let i=index" [hidden]="i > 3">
        <div class="progress-container p-{{ score.score }}">
          <div class="info">
            <span class="text-1x5">{{ score.score }}</span><span class="text-sm">%</span>
          </div>
        </div>

        <span>{{ score.name }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <!-- Show map here -->
  <div id="map-detail"></div>

  <!--Info-->
  <div class="border-bottom" padding>
    <div>{{ hotel.address }}</div>
    <div>
      <span class="text-sm" color="gray">Address</span>
    </div>
    <div margin-top>
      <span>{{ hotel.phone }}</span>
      <ion-icon class="pull-right" name="call" color="hotel-color"></ion-icon>
    </div>
    <div>
      <span class="text-sm" color="gray">Phone</span>
    </div>
  </div>

  <!--Reviews-->
  <!--<div class="border-bottom" padding>
    <span ion-text color="gray">Reviews</span>
    <ion-grid>
      <ion-row>
        <ion-col width-33 class="middle-align">
          <span class="rating-value" color="hotel-color">
            {{ hotel.rating }}
          </span>
        </ion-col>
        <ion-col width-66>
          <div *ngFor="let value of ratingValues; let i = index">
            {{ i + 1 }}
            <ion-icon name="star" color="gray"></ion-icon>
            <span class="progress-bar hotel-bg" [ngStyle]="{'width': value + 'rem'}"
                  color="hotel-color"></span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>-->

  <!--list of reviews-->

</ion-content>
