<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-tabs tabsPlacement="bottom">
    <ion-tab [root]="tabHome" tabIcon="home" tabTitle="Inicio"></ion-tab>
    <!--<ion-tab [root]="tabSearch" tabIcon="search" tabTitle="Search"></ion-tab>-->
    <ion-tab [root]="tabActivity" tabIcon="star" tabTitle="Noticias"></ion-tab>
    <!--<ion-tab [root]="tabMe" tabIcon="person" tabTitle="Me"></ion-tab>-->
  </ion-tabs>
</ion-content>
