<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="restaurant-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="restaurants attractions common-bg">
  <div class="card round" margin-bottom *ngFor="let restaurant of restaurants" (click)="viewRestaurant(restaurant.id)">
    <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}"></div>
    <div class="padding-xs">
      <h5>{{ restaurant.name }}</h5>
      <p>{{ restaurant.address }}</p>
      <div>
        <div class="pull-left">
          <i ion-text color="restaurant-color" *ngFor="let category of restaurant.categories">{{ category.name }},</i>
        </div>
        <div class="pull-right">
          <span>{{ restaurant.open}}<ion-icon name="sunny"></ion-icon></span>
          <span>{{restaurant.close}}<ion-icon name="moon"></ion-icon></span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>
