page-restaurants,
.restaurants {

  .card p{
    width: 50%;
    text-wrap: normal;
  }
  .pull-right{
    margin-top: -4.5rem;
  }
  .pull-right ion-icon{
    margin-left: 1rem;
  }
  span{
    display: block;
  }

}