<!--
  Generated template for the EmergencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="nav-transparent no-border" color="dark">
  </ion-navbar>

</ion-header>


<ion-content class=" item-detail">
  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(' + emergency.thumb + ')'}">
    <div class="inner">
      <div class="align-bottom" padding>
        <h2 ion-text color="white">{{ emergency.name }}</h2>
      </div>
    </div>
  </div>

  <!--buttons-->
  <ion-grid class="buttons border-bottom">
    <ion-row>
      <ion-col><p text-center>{{emergency.description}}</p></ion-col>
    </ion-row>
  </ion-grid>

  <!-- Show map here -->
  <div id="map-detail"></div>

  <!--Info-->
  <div class="border-bottom" padding>
    <div>{{ emergency.address }}</div>
    <div>
      <span class="text-sm" color="gray">Address</span>
    </div>
    <div margin-top>
      <span>{{ emergency.phone }}</span>
      <ion-icon class="pull-right" name="call" color="emergency-color"></ion-icon>
    </div>
    <div>
      <span class="text-sm" color="gray">Phone</span>
    </div>
  </div>


</ion-content>
