page-home,
.home {

  .scroll-content {
    padding-bottom: 5rem;
  }

  .float-search {
    position: fixed;
    width: 100%;
    left: 0;
    top: 1rem;

    button {
      position: absolute;
      margin: 0.4rem 0.2rem;
      left: 1.4rem;
      top: 1.2rem;
      height: 2.4em;
      box-shadow: none;



      &.activated {
        background: none;
      }
    }
    ion-icon{
      position: absolute;
      margin: 0.6rem 0.8rem;
      left: 1.4rem;
      top: 1.2rem;
      height: 2.4em;
      box-shadow: none;
      font-size: 3rem;
      color: darkgray;
    }

    ion-input {
      padding-left: 5rem;
    }
  }

  .header {
    height: 30%;
    background: url('../assets/img/home_header.jpg');
    background-size: 100% auto;
  }

  // list of items
  .block-title {
    line-height: 2rem;

    ion-icon {
      font-size: 2rem;
    }
    .show-more{
      width: 7rem ;
      height: 2rem;
      margin-top: -.2rem;
    }
    .show-more span{
      font-size: x-small;
      padding-left: .5rem;
    }
    .show-more ion-icon{
      font-size: 1.5rem;
      padding: 0 .5rem;
    }
  }

  .items {
    overflow-x: auto;
    white-space: nowrap;

    .card {
      overflow: hidden;
      width: 28rem;
      height: 26rem;
      display: inline-block;
      margin-right: 1.6rem;

      h5{
        white-space: normal;
      }
      p{
        white-space: normal;
      }
      .card-header {
        width: 100%;
        height: 12rem;
        background-size: 100% auto;
      }

      span[gray] {
        font-size: 1.2rem;
      }

      .pull-left {
        max-width: 18rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: color($colors, restaurant-color);
      }
      .pull-right {
        margin-top: -2.5rem;
        max-width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: dimgray;
        font-size: 1.2rem;
      }
      .pull-right ion-icon{
        margin-left: 1rem;
      }
    }
  }
}

.md {
  .home {

    .float-search {

      button {
        top: 1.6rem;
      }
      ion-icon{
        top:1.6rem;
      }

      ion-input {
        padding-left: 4rem;
      }
    }

    .tab-button-text {
      margin-top: 0;
    }
  }
}
