<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding-bottom class="home common-bg">

  <div class="header rlt">
    <div class="align-bottom" padding>
      <div class="pull-left">
        <h2 ion-text color="white">
          <ion-icon name="ios-navigate-outline"></ion-icon>
          <!-- ciudad -->
          Valdivia
        </h2>
        <span ion-text color="light">
        Recomendaciones del  <strong>Día</strong>
      </span>
      </div>
      <div class="pull-right">
        <h1>
          <ion-icon name="ios-sunny-outline" color="light"></ion-icon>
        </h1>
        <h6 ion-text no-margin color="light">
          35<sup>o</sup>C
        </h6>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <!--pubs, restaurante y ocio-->
  <div class="block" margin-top>
    <div class="block-title" padding-left padding-right>
      <div class="pull-left">
        <ion-icon name="restaurant" color="restaurant-color"></ion-icon>
        <span ion-text color="restaurant-color">PUBS, RESTAURANTES Y OCIO</span>
      </div>
      <div class="pull-right">
        <button ion-button round outline class="show-more" color="restaurant-color" (click)="viewAllRestaurants()">ver todo <ion-icon small name="ios-arrow-forward"></ion-icon></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let restaurant of restaurants" (click)="viewRestaurant(restaurant.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ restaurant.name }}</h5>
          <p>{{ restaurant.address }}</p>
          <!--<div class="rating">
            <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(restaurant.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)"></ion-icon>
            <span ion-text color="gray">{{ restaurant.reviews.length }} reviews</span>
          </div>-->
          <span ion-text color="gray">Categorías asociadas:</span>
          <div>
            <div class="pull-left">
              <span ion-text color="restaurant-color" *ngFor="let category of restaurant.categories">{{ category.name }},</span>
            </div>
            <div class="pull-right">
              <!--{{ restaurant.location.distance }} km-->
              <p>{{ restaurant.open}}<ion-icon name="sunny"></ion-icon></p>
              <p>{{restaurant.close}}<ion-icon name="moon"></ion-icon></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--hoteles y alojamiento-->
  <div class="block">
    <div class="block-title" padding-left padding-right>
      <div class="pull-left">
        <ion-icon name="home" color="hotel-color"></ion-icon>
        <span ion-text color="hotel-color">HOTELES Y ALOJAMIENTO</span>
      </div>
      <div class="pull-right">
        <button ion-button round outline class="show-more" color="hotel-color" (click)="viewAllHotels()">ver todo <ion-icon small name="ios-arrow-forward"></ion-icon></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let hotel of hotels" (click)="viewHotel(hotel.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + hotel.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ hotel.name }}</h5>
          <p>{{hotel.address}}</p>
          <!--<div class="rating">
            <ion-icon name="md-star" color="hotel-color" *ngFor="let star of range(hotel.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - hotel.rating)"></ion-icon>
            <span ion-text color="gray">{{ hotel.reviews.length }} reviews</span>
          </div>-->
          <span ion-text color="gray">Categorías asociadas:</span>
          <div>
            <div class="pull-left">
              <span ion-text color="hotel-color" *ngFor="let category of hotel.categories">{{ category.name }},</span>
            </div>
            <div class="pull-right">
              <!--{{ restaurant.location.distance }} km-->
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--turismo-->
  <div class="block">
    <div class="block-title" padding-left padding-right>
      <div class="pull-left">
        <ion-icon name="camera" color="attraction-color"></ion-icon>
        <span ion-text color="attraction-color">SITIOS DE INTERES</span>
      </div>
      <div class="pull-right">
        <button ion-button round outline class="show-more" color="attraction-color" (click)="viewAllAttractions()">ver todo <ion-icon small name="ios-arrow-forward"></ion-icon></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let attraction of attractions" (click)="viewAttraction(attraction.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + attraction.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ attraction.name }}</h5>
          <p>direccion del local</p>
          <!--<div class="rating">
            <ion-icon name="md-star" color="attraction-color" *ngFor="let star of range(attraction.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - attraction.rating)"></ion-icon>
            <span ion-text color="gray">{{ attraction.reviews.length }} reviews</span>
          </div>-->
          <span ion-text color="gray">Categorías asociadas:</span>
          <div>
            <div class="pull-left">
              <span ion-text color="attraction-color">{{ attraction.scores[0].name }},</span>
              <span ion-text color="attraction-color">{{ attraction.scores[1].name }}</span>
            </div>
            <div class="pull-right">
              <!--{{ restaurant.location.distance }} km-->
              <p>09:00 AM <ion-icon name="sunny"></ion-icon></p>
              <p>23:00 PM <ion-icon name="moon"></ion-icon></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--tramites y emergencia-->
  <div class="block">
    <div class="block-title" padding-left padding-right>
      <div class="pull-left">
        <ion-icon name="camera" color="emergency-color"></ion-icon>
        <span ion-text color="emergency-color">TRAMITES Y EMERGENCIA</span>
      </div>
      <div class="pull-right">
        <button ion-button round outline class="show-more" color="emergency-color" (click)="viewAllAttractions()">ver todo <ion-icon small name="ios-arrow-forward"></ion-icon></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let emergency of emergencies" (click)="viewEmergency(emergency.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + emergency.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ emergency.name }}</h5>
          <div *ngIf="emergency.address"><p>{{emergency.address}}</p></div>
          <div *ngIf="!emergency.address"><p>{{emergency.phone}}</p></div>
            <div class="clear"></div>

        </div>
      </div>
    </div>
  </div>

  <!--float search bar-->
  <div class="float-search" padding>
    <ion-input class="card round" placeholder="Search"></ion-input>
    <ion-icon name="search"></ion-icon>
    <!--<button ion-button menuToggle color="white" item-left>
      <ion-icon name="ios-menu" color="primary"></ion-icon>
    </button>-->
  </div>

</ion-content>
