page-welcome,
.welcome {
  .logo {
    content: url("../assets/img/logo.png") !important;
    width: 11rem;
    margin: 0 auto;
  }

  ion-slides {
    height: 50%;

    ion-icon {
      font-size: 4rem !important;
      margin: 10px;
    }

    .swiper-pagination-bullet {
      background: color($colors, light);
      width: 12px;
      height: 12px;
    }
  }
}
