<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="welcome auth-bg">
  <!--logo-->
  <div text-center>
    <div class="logo"></div>
  </div>

  <!--slides-->
  <ion-slides pager>
    <ion-slide>
      <ion-icon name="md-restaurant" color="light"></ion-icon>
      <ion-icon name="md-pizza" color="light"></ion-icon>
      <ion-icon name="md-beer" color="light"></ion-icon>
      <p ion-text color="light">
        Encuentra los mejores locales en tu zona
      </p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="heart" color="light"></ion-icon>
      <ion-icon name="md-star" color="light"></ion-icon>
      <ion-icon name="md-paper" color="light"></ion-icon>
      <p ion-text color="light">
        Eventos, noticias y contenido destacado
      </p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="md-paper-plane" color="light"></ion-icon>
      <ion-icon name="ios-sunny-outline" color="light"></ion-icon>
      <ion-icon name="md-happy" color="light"></ion-icon>
      <p ion-text color="light">
        Descubre, conoce y comparte ValdiApp
      </p>
    </ion-slide>s
  </ion-slides>

  <!--buttons-->
  <div text-center>
    <span ion-text color="light">Inicia sesión con:</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="fb-color">
          Facebook
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block color="light">
          <span gg-color>Google</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="button-transparent" block (click)="goHome()">Saltar inicio</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
