page-restaurant-detail,
.restaurant-detail {
  // import extends css
  $color-bar: color($colors, restaurant-color);
  @import "../../theme/circle_progress";

  .nav-icon{
    transform: rotate(45deg);
  }
}
