<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="nav-transparent no-border" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class=" item-detail">
  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}">
    <div class="inner">
      <div class="align-bottom" padding>
        <h2 ion-text color="white">{{ restaurant.name }}</h2>
      </div>
    </div>
  </div>

  <!--buttons-->
  <ion-grid class="buttons border-bottom">
    <ion-row>
      <ion-col text-center>
        <p>{{restaurant.description}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Show map here -->
  <div id="map-detail"></div>

  <!--Info-->
  <div class="border-bottom" padding>
    <span>{{ restaurant.address }}</span>
    <button ion-button icon-only [clear]="true" [round]="true" class="pull-right">
      <ion-icon  name="md-navigate" color="restaurant-color" class="nav-icon"></ion-icon>
    </button>
    <div>
      <span class="text-sm" color="gray">Dirección</span>
    </div>
    <div margin-top>
      <span>{{ restaurant.phone }}</span>
      <button ion-button icon-only [clear]="true" [round]="true" class="pull-right" (click)="call(restaurant.phone)">
        <ion-icon class="pull-right" name="call" color="restaurant-color"></ion-icon>
      </button>
    </div>
    <div>
      <span class="text-sm" color="gray">teléfono</span>
    </div>
  </div>


</ion-content>
